.side-bar {
  background-color: white;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 74px;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 3px;
}

.sidebar-link div {
  font-family: Roboto;
  font-size: 11px;
}
